/* Layout > Box model > Appearance > Typography */

* {
    box-sizing: border-box;
}

/* Body */

body {
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
}

/* Header */

header {
    /* Layout */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;

    /* Box model */
    margin: 10px auto;
    padding: 10px;

    /* Appearance */
    border: 2px solid black;
    border-radius: 10px;
}

/* Main */

main {
    /* Box model */
    width: 80%;
    max-width: 1200px;
    margin: 10px auto;
    padding: 10px;

    /* Appearance */
    border: 2px solid black;
    border-radius: 10px;
}

main section {
    /* Box model */
    padding: 40px 20px;

    /* Typography */
    text-align: center;
}

main section + section {
    /* Box model */
    padding-top: 10px;

    /* Appearance */
    border-top: 1px solid black;
}

main section ul {
    /* Layout */
    display: flex;
    justify-content: center;
    gap: 100px;
}

main section img {
    width: 100%;
    height: auto;
}

/* Navigation */

nav ul {
    /* Layout */
    display: flex;
    gap: 20px;

    /* Box model */
    margin: 0;
    padding: 0;

    /* Appearance */
    list-style: none;
}

nav a {
    /* Box model */
    padding: 8px 12px;

    /* Appearance */
    color: black;

    /* Typography */
    text-decoration: none;
}

nav a:hover {
    /* Appearance */
    background-color: #f1e6dc;
    border-radius: 6px;
}

/* Footer */

footer {
    /* Layout */
    display: flex;
    justify-content: center;

    /* Box model */
    margin: 10px auto;
    padding: 10px;

    /* Appearance */
    border: 2px solid black;
    border-radius: 10px;
}
